<a href="https://colab.research.google.com/github/ilman79/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-1/blob/main/Study_Case_2_Kelompok_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings; warnings.simplefilter('ignore')

try:
    import google.colab; IN_COLAB = True
    print("Installing the required modules")
    !pip install --upgrade umap-learn
    !wget https://raw.githubusercontent.com/taudata-indonesia/eLearning/master/tau_unsup.py
except:
    IN_COLAB = False
    print("Running the code locally, please make sure all the python module versions agree with colab environment and all data/assets downloaded")

Installing the required modules
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: umap-learn in /usr/local/lib/python3.7/dist-packages (0.5.3)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (1.7.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (1.21.6)
Requirement already satisfied: numba>=0.49 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (0.56.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from umap-learn) (4.64.1)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (0.5.7)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (1.0.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->umap-learn) (5.0.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->umap-learn) (0.39.1)
Requirement already satisfied: setuptools<60 in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->umap-learn) (57.4.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from pynndescent>=0.5->umap-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->umap-learn) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba>=0.49->umap-learn) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba>=0.49->umap-learn) (4.1.1)
--2022-10-12 01:05:21--  https://raw.githubusercontent.com/taudata-indonesia/eLearning/master/tau_unsup.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17387 (17K) [text/plain]
Saving to: ‘tau_unsup.py.1’

tau_unsup.py.1      100%[===================>]  16.98K  --.-KB/s    in 0.001s

2022-10-12 01:05:21 (29.6 MB/s) - ‘tau_unsup.py.1’ saved [17387/17387]

In [2]:
import pandas as pd

In [7]:
# Loading Data:

try: # Running Locally, yakinkan "file_" berada di folder "data"
    df = pd.read_csv("Data/data_casestudy2.csv", low_memory = False, encoding='utf8')
except: # Running in Google Colab
    !mkdir Data
    !wget -P Data/ https://raw.githubusercontent.com/ilman79/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-1/main/Data/data_casestudy2.csv
    df = pd.read_csv("Data/data_casestudy2.csv", low_memory = False, encoding='utf8')
    
df

mkdir: cannot create directory ‘Data’: File exists
--2022-10-12 01:11:14--  https://raw.githubusercontent.com/ilman79/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-1/main/Data/data_casestudy2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15317 (15K) [text/plain]
Saving to: ‘Data/data_casestudy2.csv’

data_casestudy2.csv 100%[===================>]  14.96K  --.-KB/s    in 0s

2022-10-12 01:11:14 (104 MB/s) - ‘Data/data_casestudy2.csv’ saved [15317/15317]

,ID,JK,Umur,Income_month,skor-pengeluaran,Menikah,Kota,Promo,HariFav,FavFlavor,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,101,Wanita,49,"13,114,754",52,1,Jakarta,1,Sabtu,2,NaN,NaN,NaN
1,102,Wanita,32,"33,606,557",86,1,Depok,1,Minggu,6,NaN,NaN,NaN
2,103,Pria,51,"15,983,606",41,1,Jakarta,2,Minggu,3,NaN,NaN,NaN
3,104,Pria,19,"12,704,918",55,0,Jakarta,1,Rabu,7,NaN,NaN,NaN
4,105,Wanita,38,"20,081,967",42,1,Jakarta,2,Senin,8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,296,Pria,31,"4,098,360",73,1,Depok,1,Senin,0,NaN,NaN,NaN
196,297,Pria,57,"15,983,606",51,1,Jakarta,1,Minggu,5,NaN,NaN,NaN
197,298,Wanita,35,"43,032,786",79,1,Depok,1,Senin,7,NaN,NaN,NaN
198,299,Wanita,23,"1,229,508",94,1,Depok,0,Selasa,0,NaN,NaN,NaN
199,300,Pria,50,"1,639,344",14,1,Tangerang,3,Minggu,6,NaN,NaN,NaN

sudah melakukan missing value di excel,

*   Sudah melakukan missing value di excel
*   variabel pendapatan-per-bulan,
variabel jenis kelamin,

In [8]:
df.get_dummies(df.Jenis Kelamin, drop_first=True)

SyntaxError: ignored

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()