<a href="https://colab.research.google.com/github/ilman79/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-1/blob/main/Study_Case_2_Kelompok_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import warnings; warnings.simplefilter('ignore')

try:
    import google.colab; IN_COLAB = True
    print("Installing the required modules")
    !pip install --upgrade umap-learn
    !wget https://raw.githubusercontent.com/taudata-indonesia/eLearning/master/tau_unsup.py
except:
    IN_COLAB = False
    print("Running the code locally, please make sure all the python module versions agree with colab environment and all data/assets downloaded")

Installing the required modules
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: umap-learn in /usr/local/lib/python3.7/dist-packages (0.5.3)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (0.5.7)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (1.21.6)
Requirement already satisfied: numba>=0.49 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (0.56.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (1.7.3)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from umap-learn) (1.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from umap-learn) (4.64.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->umap-learn) (5.0.0)
Requirement already satisfied: setuptools<60 in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->umap-learn) (57.4.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->umap-learn) (0.39.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from pynndescent>=0.5->umap-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->umap-learn) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba>=0.49->umap-learn) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba>=0.49->umap-learn) (4.1.1)
--2022-10-12 02:33:35--  https://raw.githubusercontent.com/taudata-indonesia/eLearning/master/tau_unsup.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17387 (17K) [text/plain]
Saving to: ‘tau_unsup.py.9’

tau_unsup.py.9      100%[===================>]  16.98K  --.-KB/s    in 0.001s

2022-10-12 02:33:35 (30.8 MB/s) - ‘tau_unsup.py.9’ saved [17387/17387]

In [48]:
df = pd.read_csv('https://raw.githubusercontent.com/ilman79/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-1/main/Data/Case-Study-02-MixITup%20(1).csv')
df

,ID,Jenis Kelamin,Umur,Pendapatan-per-bulan,skor-pengeluaran,Menikah,Kota,Promo,HariFav,FavFlavor
0,101,Wanita,49,13114754,52,1,Jakarta,1.0,Sabtu,2
1,102,Wanita,32,33606557,86,1,Depok,1.0,Minggu,6
2,103,Pria,51,15983606,41,1,Jakarta,2.0,Minggu,3
3,104,Pria,19,12704918,55,0,Jakarta,1.0,Rabu,7
4,105,Wanita,38,20081967,42,1,Jakarta,2.0,Senin,8
...,...,...,...,...,...,...,...,...,...,...
195,296,Pria,31,4098360,73,1,Depok,1.0,Senin,0
196,297,Pria,57,15983606,51,1,Jakarta,1.0,Minggu,5
197,298,Wanita,35,43032786,79,1,Depok,1.0,Senin,7
198,299,Wanita,23,1229508,94,1,Depok,0.0,Selasa,0
199,300,Pria,50,1639344,14,1,Tangerang,3.0,Minggu,6

In [24]:
import pandas as pd

In [46]:
# Loading Data:

try: # Running Locally, yakinkan "file_" berada di folder "data"
    df = pd.read_csv("Data/Book2.csv", low_memory = False, encoding='utf8')
except: # Running in Google Colab
    !mkdir Data
    !wget -P Data/ https://raw.githubusercontent.com/ilman79/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-1/main/Data/Case-Study-02-MixITup%20(1).csv
    df = pd.read_csv("Data/Book2.csv", low_memory = False, encoding='utf8')
    
df

mkdir: cannot create directory ‘Data’: File exists
/bin/bash: -c: line 0: syntax error near unexpected token `('
/bin/bash: -c: line 0: `wget -P Data/ https://raw.githubusercontent.com/ilman79/Case-Study-02-Data-Mining-UIN-Ganjil-2022-Kelompok-1/main/Data/Case-Study-02-MixITup%20(1).csv'

ParserError: ignored

sudah melakukan missing value di excel,

*   Sudah melakukan missing value di excel
*   variabel pendapatan-per-bulan,
variabel jenis kelamin,

In [26]:
# drop kolom yang tidak terpakai
df.drop(["ID", "Unnamed: 10", "Unnamed: 11", "Unnamed: 12"], axis=1, inplace=True)
df

,JK,Umur,Income_month,skor-pengeluaran,Menikah,Kota,Promo,HariFav,FavFlavor
0,Wanita,49,"13,114,754",52,1,Jakarta,1,Sabtu,2
1,Wanita,32,"33,606,557",86,1,Depok,1,Minggu,6
2,Pria,51,"15,983,606",41,1,Jakarta,2,Minggu,3
3,Pria,19,"12,704,918",55,0,Jakarta,1,Rabu,7
4,Wanita,38,"20,081,967",42,1,Jakarta,2,Senin,8
...,...,...,...,...,...,...,...,...,...
195,Pria,31,"4,098,360",73,1,Depok,1,Senin,0
196,Pria,57,"15,983,606",51,1,Jakarta,1,Minggu,5
197,Wanita,35,"43,032,786",79,1,Depok,1,Senin,7
198,Wanita,23,"1,229,508",94,1,Depok,0,Selasa,0
199,Pria,50,"1,639,344",14,1,Tangerang,3,Minggu,6

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   JK                200 non-null    object
 1   Umur              200 non-null    object
 2   Income_month      200 non-null    object
 3   skor-pengeluaran  200 non-null    int64
 4   Menikah           200 non-null    int64
 5   Kota              200 non-null    object
 6   Promo             200 non-null    int64
 7   HariFav           200 non-null    object
 8   FavFlavor         200 non-null    int64
dtypes: int64(4), object(5)
memory usage: 14.2+ KB

In [28]:
set(df['Income_month'])

{'1,229,508',
 '1,639,344',
 '10,245,901',
 '11,065,573',
 '11,475,409',
 '11,885,245',
 '12,704,918',
 '13,114,754',
 '13,524,590',
 '13,934,426',
 '14,344,262',
 '15,983,606',
 '17,213,114',
 '17,622,950',
 '18,032,786',
 '18,442,622',
 '18,769,960',
 '18,852,459',
 '19,262,295',
 '19,672,131',
 '2,049,180',
 '2,459,016',
 '20,081,967',
 '20,491,803',
 '21,311,475',
 '22,131,147',
 '22,540,983',
 '22,950,819',
 '23,360,655',
 '23,770,491',
 '24,180,327',
 '24,590,163',
 '25,000,000',
 '25,409,836',
 '25,819,672',
 '26,229,508',
 '27,049,180',
 '28,688,524',
 '29,098,360',
 '29,508,196',
 '29,918,032',
 '3,278,688',
 '3,688,524',
 '31,967,213',
 '33,606,557',
 '34,016,393',
 '34,426,229',
 '35,245,901',
 '36,065,573',
 '4,098,360',
 '40,163,934',
 '409,836',
 '43,032,786',
 '45,491,803',
 '5,327,868',
 '5,737,704',
 '50,000,000',
 '6,147,540',
 '7,377,049',
 '7,786,885',
 '819,672',
 '9,016,393',
 '9,426,229',
 '9,836,065'}

In [38]:
df['Income_month'].str.replace(',', '')
df['Income_month'] = df['Income_month'].astype('float')

df

ValueError: ignored

In [36]:
df['skor-pengeluaran'] = df['skor-pengeluaran'] .astype('int64')
df['Menikah'] = df['Menikah'] .astype('category')
df['Kota'] = df['Kota'] .astype('category')
df['Promo'] = df['Promo'] .astype('category')
df['HariFav'] = df['HariFav'] .astype('category')
df['FavFlavor'] = df['FavFlavor'] .astype('category')
df['JK'] = df['JK'] .astype('category')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   JK                200 non-null    category
 1   Umur              200 non-null    object
 2   Income_month      200 non-null    object
 3   skor-pengeluaran  200 non-null    int64
 4   Menikah           200 non-null    category
 5   Kota              200 non-null    category
 6   Promo             200 non-null    category
 7   HariFav           200 non-null    category
 8   FavFlavor         200 non-null    category
dtypes: category(6), int64(1), object(2)
memory usage: 7.3+ KB

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()

In [ ]:
# fungsi untuk menampilkan boxplot 
import seaborn as sns
import matplotlib.pyplot as plt
def boxplot_outlier(box):
  fig, ax = plt.subplots(figsize = (8,7))
  sns.boxplot(x = box)

In [ ]:
# fungsi untuk menampilkan boxplot 

def boxplot_outlier(box):
  fig, ax = plt.subplots(figsize = (8,7))
  sns.boxplot(x = box)

In [ ]:
# fungsi untuk menampilkan batas atas dan batas bawah

def batas(batas):
  Q1 = batas.quatile(0.25) 
  Q3 = batas.quatile(0.75)

  IQR = Q3 - Q1

  global batasBawah
  batasBawah = Q1 - (1.5 * IQR) 

  global batasAtas
  batasBawah = Q3 + (1.5 * IQR)

  print("Batas Bawah = ", batasBawah, "\nBatas Atas = ", batasAtas)

In [ ]:
def show_outlier(file, column):
  return file[(column < batasBawah) | (column > batasAtas)]

In [ ]:
boxplot_outlier(df.Umur)